<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-UP Page</title>
    <link rel="stylesheet" href="CSS/signuplogin.css">
</head>
<body>
    <div id="SignUP-form" class="form-container">
        <h2>SignUP</h2>
        <form id=" Sign-UP ">
            <input type="name" placeholder="Name" required>
            <br><br>
            <input type="email" placeholder="Email" required>
            <br><br>
            <input type="password" placeholder="Password" id="password">
            <br><br>
            <input type="confirmpassword" placeholder="confirmpassword" id="confirmpassword">
            <br><br>
            <button type="submit">Register </button>
            <br>
        </form>
    <p> Already have an account? <a href="webpage.html"> Login </a></p>
    </div>
    <script src="signuplogin.js"></script>
</body>
</html>